#root {
  margin: 0 auto;
}
@font-face {
  font-family: "iransans-black";
  src: url("../public/assets/Fonts/Iransansx/IRANSansXFaNum-Black.ttf");
}
@font-face {
  font-family: "iransans-bold";
  src: url("../public/assets/Fonts/Iransansx/IRANSansX-Bold.ttf");
}
@font-face {
  font-family: "iransans-medium";
  src: url("../public/assets/Fonts/Iransansx/IRANSansXFaNum-Medium.ttf");
}
@font-face {
  font-family: "iransans-regular";
  src: url("../public/assets/Fonts/Iransansx/IRANSansXFaNum-Regular.ttf");
}

body {
  font-family: "iransans-bold";
  background-repeat: no-repeat;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.active {
  color: #883412;
}
