:root {
  line-height: 1.5;

  color-scheme: light dark;
  background-color: #e4e3e3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: ##fcb900;
  --secondary-color: ##ff6900;
  --color-1: ##ff8a65;
  --color-2: ##c09206;
  --color-3: ##abb8c3;

  --secondary-color-dark: #323131;
  --secondary-color-dark: ##555555;
}
a {
  font-weight: 500;
  color: #f07a19;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-size: 1.4rem;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
